[Unit]
Description=gunicorn daemon for {{ sixpack_service }}
Requires={{ sixpack_service }}.socket
After=network.target

[Service]
PIDFile=/run/{{ sixpack_service }}/pid
User=dosomething
Group=dosomething
RuntimeDirectory={{ sixpack_service }}
WorkingDirectory=/home/dosomething/sixpack
Environment=SIXPACK_CONFIG=/etc/sixpack/config.yml
Environment=NEW_RELIC_CONFIG_FILE=/home/dosomething/sixpack/newrelic.ini
ExecStart={{ venv_home }}/bin/newrelic-admin run-program  \
          {{ venv_home }}/bin/gunicorn --pid /run/{{ sixpack_service }}/pid   \
          --bind unix:/run/{{ sixpack_service }}/socket {{ sixpack_service_exec }}
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
# PrivateTmp=true

[Install]
WantedBy=multi-user.target
