[Unit]
Description=gunicorn socket for {{ sixpack_service }}

[Socket]
ListenStream=/run/{{ sixpack_service }}/socket

[Install]
WantedBy=sockets.target
