<?php

$conf['file_public_path'] = 'sites/default/files';
$conf['file_private_path'] = 'sites/default/files/private';
$conf['file_temporary_path'] = 'sites/default/files/tmp';

$drupal_hash_salt = '{{ app_drupal_hash_salt }}';
