description "Message Broker transactional email consumer"
author "DoSomething.org"

# Props to http://kvz.io/blog/2009/12/15/run-nodejs-as-a-service-on-ubuntu-karmic/
# for the boilerplate!

start on startup
stop on shutdown

# Automatically respawn
respawn
respawn limit 99 5

script
    export HOME="/opt/rabbit/mbc-transactional-email"

    exec sudo -u {{ app_user }} /usr/bin/php {{ mb_php_root }}/mbc-transactional-email/mbc-transactional-email.php >> {{ mb_php_log_path }}/mbc-transactional-email.log 2>&1
end script

# Could put something here to carry out actions whenever process is started /
# restarted

# post-start script
# end script
