#!/bin/sh

cat << 'EOF'

  _____   _                                        _                         _  _
 |_   _| | |_      ___      o O O __ __ __  ___   | |__     ___      o O O  | || |   ___
   | |   | ' \    / -_)    o      \ V  V / / -_)  | '_ \   (_-<     o        \_, |  / _ \
  _|_|_  |_||_|   \___|   TS__[O]  \_/\_/  \___|  |_.__/   /__/_   TS__[O]  _|__/   \___/
_|"""""|_|"""""|_|"""""| {======|_|"""""|_|"""""|_|"""""|_|"""""| {======|_| """"|_|"""""|
"`-0-0-'"`-0-0-'"`-0-0-'./o--000'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'./o--000'"`-0-0-'"`-0-0-'


Welcome to the DoSomething.org web platform Vagrant playland!

If this is the first time you ran "vagrant up", make sure to run the setup
script: setup-www

And be sure to read the documentation on the dosomething wiki to finish building
your local environment:

https://github.com/DoSomething/dosomething/wiki/Building-your-local-environment
EOF
