server {
   listen 80;

   server_name default_server {{ server_list }};

   root /var/www/static;
   index index.html;

   location / {
      try_files $uri @rewrite $uri/ =404;
   }
  
   location @rewrite {
      rewrite ^ /index.html;
  }

  location ~ \.(hh|php)$ {
    fastcgi_keep_conn on;
    fastcgi_pass   127.0.0.1:9000;
    fastcgi_index  index.php;
    fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include        fastcgi_params;
  }

}

server {
   listen 80;

   server_name adamantium.dosomething.org;

   root /var/www/forge/dist;

   location / {
      try_files $uri $uri/ =404;
   }
  
}
